body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tile {
  display: inline-block; 
  width: 100%; 
  max-width: 34vw; 
  overflow: hidden; 
  text-align: center; 
}

.tile-img {
  display: block; 
  max-width: 100%; 
  height: auto;
}

.tile-header,
.tile-desc {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 100%; 
  margin: 5px 0; 
}

.date-tag {
  font-size: 12px; 
  margin-top: 5px;
}
